In [1]:
import pandas as pd

In [2]:
loans = pd.read_csv('lending_club_data01.csv')

In [3]:
loans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1468 entries, 0 to 1467
Data columns (total 8 columns):
int_rate       1468 non-null float64
installment    1468 non-null float64
open_acc       1468 non-null int64
revol_bal      1468 non-null int64
revol_util     1468 non-null float64
total_acc      1468 non-null int64
bad_loans      1468 non-null int64
grade_num      1468 non-null int64
dtypes: float64(3), int64(5)
memory usage: 91.8 KB

In [4]:
loans.tail()

,int_rate,installment,open_acc,revol_bal,revol_util,total_acc,bad_loans,grade_num
1463,6.62,377.66,11,10825,16.1,25,0,6
1464,18.64,360.41,2,564,70.5,19,0,2
1465,16.29,494.21,15,24536,71.7,29,0,3
1466,7.90,500.65,4,404,31.1,12,0,6
1467,15.27,208.79,6,760,69.1,19,0,4

In [5]:
loans.columns

Index([u'int_rate', u'installment', u'open_acc', u'revol_bal', u'revol_util',
       u'total_acc', u'bad_loans', u'grade_num'],
      dtype='object')

In [62]:
#loans.bad_loans

In [6]:
# let's add a new column and name it good_loans
# we will create it from bad_loans column and will have values yes or no

loans['good_loans'] = loans['bad_loans'].apply(lambda x : 'yes' if x==0 else 'no')

In [7]:
loans.head()

,int_rate,installment,open_acc,revol_bal,revol_util,total_acc,bad_loans,grade_num,good_loans
0,10.65,162.87,3,13648,83.7,9,0,5,yes
1,15.27,59.83,3,1687,9.4,4,1,4,no
2,15.96,84.33,2,2956,98.5,10,0,4,yes
3,13.49,339.31,10,5598,21.0,37,0,4,yes
4,7.90,156.46,9,7963,28.3,12,0,6,yes

In [10]:
# for our features we will use all columns but bad_loans and good_loans columns
# for our target we will use 'good_loans'

In [8]:
X = loans.drop(['bad_loans','good_loans'], axis=1)

In [9]:
y = loans['good_loans']

In [11]:
X.shape

(1468, 7)

In [12]:
y.shape

(1468,)

In [13]:
from sklearn.tree import DecisionTreeClassifier

In [14]:
from sklearn.cross_validation import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=111)

In [ ]:
print X_train.shape, X_test.shape, y_train.shape, y_test.shape

In [16]:
model = DecisionTreeClassifier()

In [17]:
model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [18]:
prediction = model.predict(X_test)

In [19]:
from sklearn.metrics import classification_report, confusion_matrix

In [20]:
print confusion_matrix(y_test, prediction)

[[ 18  54]
 [ 70 299]]

In [21]:
print classification_report(y_test, prediction)

             precision    recall  f1-score   support

         no       0.20      0.25      0.23        72
        yes       0.85      0.81      0.83       369

avg / total       0.74      0.72      0.73       441

In [22]:
# CHECK OUT RANDOM FOREST CLASSIFIER

In [23]:
from sklearn.ensemble import RandomForestClassifier

# INSTANTIATE YOUR RANDOMFORESTCLASSIFER MODEL
rf_model = RandomForestClassifier(n_estimators=150)

# CALL THE FIT MODEL TO TRAIN YOUR MODEL WITH TRAINING DATASET
rf_model.fit(X_train, y_train)

# PREDICT USING TESTING DATASET
rf_prediction = rf_model.predict(X_test)

# EVALUATE YOUR MODEL
print confusion_matrix(y_test, rf_prediction)

print classification_report(y_test, rf_prediction)

[[  8  64]
 [ 10 359]]
             precision    recall  f1-score   support

         no       0.44      0.11      0.18        72
        yes       0.85      0.97      0.91       369

avg / total       0.78      0.83      0.79       441

# Now let's consider another data set that is a bit bigger and has more columns

In [24]:
loans = pd.read_csv('lending_club_new_data.csv')

In [25]:
loans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9516 entries, 0 to 9515
Data columns (total 24 columns):
loan_amnt                  9516 non-null int64
funded_amnt                9516 non-null int64
funded_amnt_inv            9516 non-null int64
int_rate                   9516 non-null float64
installment                9516 non-null float64
annual_inc                 9516 non-null int64
dti                        9516 non-null float64
delinq_2yrs                9516 non-null int64
inq_last_6mths             9516 non-null int64
open_acc                   9516 non-null int64
total_pymnt                9516 non-null float64
total_pymnt_inv            9516 non-null float64
total_rec_prncp            9516 non-null float64
total_rec_int              9516 non-null float64
total_rec_late_fee         9516 non-null float64
recoveries                 9516 non-null float64
collection_recovery_fee    9516 non-null float64
last_pymnt_amnt            9516 non-null float64
bad_loans                  9516 non-null int64
emp_length_num             9516 non-null int64
grade_num                  9516 non-null int64
sub_grade_num              9516 non-null float64
delinq_2yrs_zero           9516 non-null int64
payment_inc_ratio          9516 non-null float64
dtypes: float64(13), int64(11)
memory usage: 1.7 MB

In [26]:
loans.tail()

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,...,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,bad_loans,emp_length_num,grade_num,sub_grade_num,delinq_2yrs_zero,payment_inc_ratio
9511,6000,6000,6000,23.40,170.53,45600,1.50,1,0,3,...,0.0,0.0,0.000,170.53,1,0,2,1.0,0,4.487630
9512,15250,15250,15250,17.57,548.05,65000,11.26,1,2,8,...,0.0,0.0,0.000,14810.30,0,11,3,0.4,0,10.117800
9513,8525,8525,8525,18.25,217.65,37536,12.28,4,0,12,...,0.0,1159.4,11.594,217.65,1,6,3,0.6,0,6.958120
9514,22000,22000,22000,19.97,582.50,78000,18.45,0,5,18,...,0.0,0.0,0.000,17.50,1,11,3,1.0,1,8.961540
9515,2000,2000,2000,7.90,62.59,83000,5.39,3,1,21,...,0.0,0.0,0.000,1500.68,0,4,6,0.8,0,0.904916

In [27]:
loans.columns

Index([u'loan_amnt', u'funded_amnt', u'funded_amnt_inv', u'int_rate',
       u'installment', u'annual_inc', u'dti', u'delinq_2yrs',
       u'inq_last_6mths', u'open_acc', u'total_pymnt', u'total_pymnt_inv',
       u'total_rec_prncp', u'total_rec_int', u'total_rec_late_fee',
       u'recoveries', u'collection_recovery_fee', u'last_pymnt_amnt',
       u'bad_loans', u'emp_length_num', u'grade_num', u'sub_grade_num',
       u'delinq_2yrs_zero', u'payment_inc_ratio'],
      dtype='object')

In [28]:
loans['good_loans'] = loans['bad_loans'].apply(lambda x : 'yes' if x==0 else 'no')

In [29]:
X = loans.drop(['bad_loans','good_loans'], axis=1)

In [30]:
y = loans['good_loans']

In [31]:
print X.shape, y.shape

(9516, 23) (9516,)

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=111)

In [33]:
model = DecisionTreeClassifier()

In [34]:
model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [35]:
prediction = model.predict(X_test)

In [36]:
print confusion_matrix(y_test, prediction)

[[ 452   11]
 [  14 2378]]

In [37]:
print classification_report(y_test, prediction)

             precision    recall  f1-score   support

         no       0.97      0.98      0.97       463
        yes       1.00      0.99      0.99      2392

avg / total       0.99      0.99      0.99      2855

In [ ]:
# Lets drop some more  columns and only consider the following columns for our feature

In [38]:
X = loans.drop(['bad_loans','good_loans', 'annual_inc', 'dti', 'delinq_2yrs',
       'inq_last_6mths', 'open_acc', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee',
       'recoveries', 'collection_recovery_fee'], axis=1)

In [39]:
y = loans['good_loans']

In [40]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=111)

In [41]:
model2 = DecisionTreeClassifier()

In [42]:
model2.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [43]:
prediction2 = model2.predict(X_test)

In [44]:
print confusion_matrix(y_test, prediction2)

[[ 301  162]
 [ 167 2225]]

In [45]:
print classification_report(y_test, prediction2)

             precision    recall  f1-score   support

         no       0.64      0.65      0.65       463
        yes       0.93      0.93      0.93      2392

avg / total       0.89      0.88      0.89      2855

In [ ]:
# RANDOM FOREST USUALLY DOES BETTER OVER DECISION TREES
# SPECIALLY WHEN YOU HAVE A LARGE DATASET

In [46]:
from sklearn.ensemble import RandomForestClassifier

In [47]:
model3 = RandomForestClassifier(n_estimators = 150)

In [48]:
model3.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=150, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [49]:
prediction3 = model3.predict(X_test)

In [50]:
print confusion_matrix(y_test, prediction3)

[[ 271  192]
 [  85 2307]]

In [51]:
print classification_report(y_test, prediction3)

             precision    recall  f1-score   support

         no       0.76      0.59      0.66       463
        yes       0.92      0.96      0.94      2392

avg / total       0.90      0.90      0.90      2855